*{
  box-sizing: border-box;
}
body{
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.App {
  height: 100vh;
  display: grid;
  grid-template: 1fr 7fr/2fr 1fr ;
  grid-template-areas: 
  'toDo SideBar'
  'taskList SideBar'
  ;
  gap: 40px;
  width: 80%;
  margin: auto;
  height: 100vh;
  padding-top: 40px;
}
.header {
  background-color:#1f567374;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 86, 115, 0.37);
  backdrop-filter: blur(5px);
  grid-area: toDo;
}

.side__bar {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(5px);
  grid-area: SideBar;
}

.task__list {
  background-color: rgba(246, 231, 203, 0.5);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(246, 231, 203, 0.37);
  backdrop-filter: blur(5px);
  grid-area: taskList;
}

